.container {
    margin-top: 40px;
    text-align: center;
}

.ellipsis {
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}